# Build & Dependency Artifacts
.gradle/
build/
bin/
out/
target/
node_modules/
dist/
.venv/
__pycache__/
*.pyc
.logs/
.pids/

# IDE & OS Artifacts
.idea/
*.iml
.vscode/
.DS_Store
*.swp

# Terraform Local State
**/.terraform/
*.tfstate
*.tfstate.*
